/*
    *{ border: 1px solid red; }
*/

body {
    color: white;
    font-family: "Ariel", sans-serif;
}

.bg {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') center;
    background-size: cover;
}

.alphawifi_form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#country_code {
    width: 120px;
}

#test {
    display: block;
}

#phone_number {
    width: 200px;
}

#alphawifi {
    text-align: center; margin-top: 20px; margin-bottom: 5px;
}

#alphawifi2 {
    text-align: center; margin-top: 40px; margin-bottom: 5px;
}

#devices {
    text-align: center; margin: 0;
}

#codeError {
    display: none;
    margin-bottom: 10px;			   
}	 

#gap {
    margin-top: 5px;
}

.centered_elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.terms {
    font-size: 10px;
}

.terms:hover {
    color: white;
}

a {
    color: white;
    text-decoration: underline;           
}

a:hover {
    color: white;
}

#support {
    color: blue;
    text-decoration: underline;
}

#checkbox_align {
    margin: auto; width: 76%; margin-left: 45px;
}

#check_1 {
    margin-top: 10px; margin-bottom: 0;
}

#modal-body {
    color: black;
    font-family: "Ariel", sans-serif;
}				   

#button_center {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center
}

/* Media Query for Mobiles */

@media only screen and (min-width: 768px) {
    html {
        overflow: hidden;
    }
    .bg {
        position: absolute; background: url('background.jpg') fixed; background-size: 100% 100%;
    }
    #country_code {
        width: 120px;
    }
    #phone_number {
        width: 200px;
    }
    #alphawifi2 {
        text-align: center; margin-top: 80px; margin-bottom: 5px;
    }
    .alphawifi_form {
        margin-top: 50px; display: flex; flex-wrap: wrap; flex-direction: column; align-items: center;
    }
    #checkbox_align {
        margin: auto; width: 30%; margin-left: 500px;
    }
    #check_1 {
        margin-left: 20px; margin-top: 15px;
    }
    #check_2 {
        margin-left: 20px;
    }
}

/* Media Query for iPads */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #checkbox_align {
        margin-left: 35%;
        width: 45%; 
    }
    #check_1 {
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: stretch;
    }
    #check_2 {
        margin: auto;
    }
}